body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #845EC2;
    color: #FFFFFF;
}

#cabecalho {
    display: flex;
    gap: 20px;
}